
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}
header{
    background-color: rgb(241, 241, 241);
}

footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    height: 3rem;
    text-align: center;
    font-size: large;
}
.main-home{
    display: flex;

}

.tareas{
    width: 25%;
    background-color: #083b66;
    height: 90vh;
}

.footer-texto{
    margin-top: 0.75rem;
}

ul{
    list-style: none;
    margin-top: 2rem;
    width: 80%;
    margin: 2rem auto;
    height: inherit;
}

ul li{
    margin-bottom: 1rem;
}

ul a{
    color: white;
    text-decoration: none;
    padding-bottom: 1rem;
}

label{
    text-align: start;
}
.reporte{
    width: 75%;
    text-align: center;
    margin-top: 2rem;
}

.reporte p{
    font-size: x-large;
    margin-bottom: 1rem;
}
.campos{
    border: 0;
    background-color: rgb(241, 241, 241);
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;
    padding: 0.3rem;
}
.boton{
    background-color: #083b66;
    border: none;
    color: white;
    padding: 1rem;
    font-size: large;
    text-transform: uppercase;
    border-radius: 4px;
}
.encabezado{
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.encabezado img{
    width: 4rem;
}
.formulario-posicion{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0.6rem auto;
    background-color:rgb(241, 241, 241);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 11px 1px rgba(0, 0, 0, 0.712);
    height:450px;
}
.mapa {

    z-index: 300;
    width:26rem;
    height:20rem;
    margin: auto;
}
.col-posicion-input{
    display: flex;
    flex-direction: column;
    margin: auto 2rem;
    width: 17rem;
    text-align: center;

}