* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y:hidden;
    overflow-x:hidden;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(241, 241, 241);
}

footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    height: 3rem;
    text-align: center;
    font-size: large;
}

label{
    text-align: start;
}
.encabezado{
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.encabezado img{
    width: 4rem;
}

.login {
    height: 100vh;
    background-size: cover;
    width: 100%;
    background: url("/img/fondo.png"), -webkit-gradient(linear, right top, left top, from(#083b66), to(#2d6a9c));
}
.id-form{
    display: none;
}

.formulario-login{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 4rem auto;
    background-color:rgb(241, 241, 241);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 11px 1px rgba(0, 0, 0, 0.712);
    height: fit-content;
}
.formulario-login input{
    margin-bottom: 2rem;
}
.campos{
    border: 0;
    background-color: rgb(241, 241, 241);
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;
    padding: 0.3rem;
}
.botones{
    display: flex;
    justify-content: space-between;
}
.boton-a{
    width: 100%;
    background-color: #083b66;
    border: none;
    color: white;
    padding: 1rem;
    font-size: large;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
}
.botones button , a {
    width: 33%;
}
.boton{
    background-color: #083b66;
    border: none;
    color: white;
    padding: 1rem;
    font-size: large;
    text-transform: uppercase;
    border-radius: 4px;
}

.boton:hover{
    background-color: #05223a;
    transition: 0.5s;
}
.cancelar{
    background-color: #c10e22;
    border: none;
    color: white;
    padding: 1rem;
    font-size: large;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

.cancelar:hover{
    background-color: #651119;
    transition: 0.5s;
}

.registrar{
    padding-top: 1rem;
    text-align: center;
    color: #2d6a9c;
    width: 100%;
}

/** Pagina Home **/


.main-home{
    display: flex;
}

.tareas{
    width: 25%;
    background-color: #083b66;
    height: 100vh;
}

.footer-texto{
    margin-top: 1rem;
}

ul{
    list-style: none;
    margin-top: 2rem;
    width: 80%;
    margin: 2rem auto;
    height: inherit;
}

ul li{
    margin-bottom: 1rem;
}

ul a{
    color: white;
    text-decoration: none;
    padding-bottom: 1rem;
}

.tabla-proformas{
    width: 90%;
    margin:1rem auto;

}

.reporte{
    width: 75%;
    text-align: center;
    margin-top: 1rem;
}

.reporte p{
    font-size: x-large;
    margin-bottom: 1rem;
}

.reporte span{
    font-weight: 700;
}
.formulario-proforma{
    width: 90%;
    background-color: rgb(241, 241, 241);
    margin: auto;
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 11px 1px rgba(0, 0, 0, 0.712);
}
.align-center{
    align-self: center;

}
.campos-proforma{
    display: flex;
    justify-content: space-around;
}
.div-proforma{
    display: flex;
    flex-direction: column;
    width: 48%;
}

.agregar-proforma{
    width: 90%;
    margin: auto auto;
    text-align: start;
}

.agregar-proforma a{
    display: inline-block;
    background-color: darkgreen;
    color: white;
    padding: 1rem;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: max-content;
}

.agregar-proforma a:hover{
    background-color: #023c02;
    transition: 0.4s;
}

.icono-ver:hover{
    color: blue;
}

/** Pagina Roles **/
tbody{
    text-align: center;
}
.card-roles{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.listado-roles{
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: baseline;
}

.campo-rol{
    border: none;
    border-bottom: 1px solid grey;
}
.amarillo{
    background-color: darkgoldenrod;
    display: inline-block;
}
.amarillo:hover{
    background-color: #6e5203;
}

.rol-botones{
    width: 4rem;
    height: 3rem;
}
/*pagina posicion*/
.formulario-posicion{
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    width: 80%;
    margin: 0.6rem auto;
    background-color:rgb(241, 241, 241);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 11px 1px rgba(0, 0, 0, 0.712);
    height:450px;
}
.mapa {
    z-index: 1;
    width:150px;
    height:150px;
    margin: auto;
}
.col-posicion-input{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 17rem;
    text-align: center;

}

/** Cargar Camion **/
.div-estado{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 60%;
    height: 2rem;
}

.div-estado p{
    font-size: medium;
    font-weight: bolder;
}
.div-estado p:first-child{
    margin-top: 0.5rem;
}

.div-estado:last-child{
    margin-bottom: 1rem;
}