<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa de Logistica</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" type="text/css" href="/css/estilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyAiq3xISXSZYgkd9GDAOdajy4NK2d3L7dY"></script>
    <script src = "/js/map.js" />
    <script>
        solicitarPermisos();
    </script>

</head>

<body onload="loadMap()">
<header>
    <div class="encabezado">
        <a href="/">
        <img src="/img/37f42a69a4314310bbd41e20c39c4c6f.png" alt="logo">
        </a>
        <div class="usuario">
            <p>{{usuario}}</p>
            <p>Chofer</p>
            <a href="/login/cerrarSesion">Cerrar Sesión</a>
        </div>
    </div>
</header>